body {
  background: #fff;
  color:#31bc86;
}

#dropzone {
  position: absolute;
  top: 50%;
  left:50%;
  border: 3px solid #31bc86;
  border-radius: 5px;
  font: bold 16px arial;

  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
  text-align: center;
  width: 300px;
  text-overflow: clip;
}

#dropzone.hover, #dropzone.dropped {
  border: 3px solid #fee;
  background: #31bc86;
  color: #fff;
}

#dropzone div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-overflow: clip;
  display: flex;
  justify-content: center;
  align-items: center;
}


#dropzone [type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#page{
  display: flex;
  justify-content: center;
  align-items: center;
}