<html>
<head>
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />
    <title>RCS cloud</title>
    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript" src="static/jquery.js"></script>
    <script type="text/javascript" src="static/main.js"></script>
</head>

<body>
    <div id="page">
        <form id="fileform" enctype="multipart/form-data" action="/file" method="POST">
        <div id="dropzone">
            <div><p>Drag your files here</p></div>
            <input type="file" name="data" />
            <input id="subbtn" type="submit" name="submit" value="Submit">
        </div>
         </form> 
        <div id="filelist">
            <ul>
            {{range .Files}}
                <li><a href="/file/{{.Key}}">{{.Name}}</a></li>
            {{end}}
            </ul>
        </div>
    </div>    
</body>
</html>

